:root {
  --padding-logo: 1.6rem;
  --padding-height: 4.8rem;

  --box-shadow-4: 0px 4px 6px -1px rgba(0,0,0,0.1) , 0px 2px 4px -1px rgba(0,0,0,0.06);

  --border-radius-card: 7px;

  --color-sidebar-bg: #0c4a6e;
  --color-sidebar-text: #f0f9ff;
  --color-item-select: #0369a1;

  --color-main-bg: #e2e8f0; /* slate 200 */
  --color-card-bg: #f8fafc; /* slate 50 */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 16rem 1fr;
  grid-template-areas:
    "nav menu"
    "nav main";
}

.container > * {
  overflow-y: auto;
}

/***********************************/
/**************SIDEBAR**************/
.sidebar {
  background-color: var(--color-sidebar-bg);
  grid-area: nav;
  color: var(--color-sidebar-text);
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: var(--padding-logo);
  gap: 1.6rem;
}

.logo {
  height: var(--padding-height);
}

.logo-text {
  font-size: 3.2rem;
  text-transform: capitalize;
  user-select: none;
}

.navigation {
  font-size: 1.8rem;
  padding: 3.2rem 0;
  display: flex;
  flex-direction: column;
  height: calc(100% - calc(2 * var(--padding-logo) + var(--padding-height)));
}

nav > ul {
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem 3.2rem;
}

.nav-icon {
  height: 2.4rem;
}

.nav-items,
.other-items {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  letter-spacing: 0.2ch;
}

.other-items {
  margin-top: auto;
}

a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
  /* transition: all .1s ease-in; */
}

a:hover,
a:active {
  background-color: var(--color-item-select);
}

.current {
  background-color: var(--color-item-select);
}

/*******************************/

/*******************************/
/*************HEADER************/
.header {
  background-color: #eff6ff;
  grid-area: menu;
  padding: 2rem 8rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 3fr 4fr;
  grid-template-areas:
    "search user"
    "welcome actions";
  gap: 1.2rem;
}

/* .header > * {
  outline: 1px solid midnightblue;
} */

.search {
  grid-area: search;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.search-icon {
  height: 2.4rem;
}

.search-field {
  background-color: #e5e5e5;
  height: 3.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 1.6rem;
}

.user {
  grid-area: user;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.4rem;
  letter-spacing: 0.125ch;
  color: #0f172a;
}

.user-notification {
  border-radius: 50%;
  height: 2.4rem;
}

.user-avatar {
  height: 4.8rem;
  border-radius: 50%;
}

.welcome {
  grid-area: welcome;
  display: grid;
  grid-template-columns: 6.4rem 1fr;
  grid-template-areas:
    "welcome-avatar welcome-greet"
    "welcome-avatar welcome-user";
  column-gap: 1.2rem;
  row-gap: 0.4rem;
  color: #292524;
}

.welcome-avatar {
  height: 6rem;
  border-radius: 50%;
  grid-area: welcome-avatar;
}

.welcome-greet {
  grid-area: welcome-greet;
  align-self: end;
  font-size: 1.4rem;
}

.welcome-user {
  grid-area: welcome-user;
  font-size: 2.4rem;
  font-weight: 700;
}

.actions {
  grid-area: actions;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  border: none;
  background-color: #0369a1;
  color: #e0f2fe;
  font-size: 1.4rem;
  letter-spacing: 0.2ch;
  padding: 0.8rem 1.6rem;
  width: 10rem;
  border-radius: 3.2rem;
  transition: transform 25ms ease-in-out;
}

.btn:hover {
  background-color: #0284c7;
  cursor: pointer;
  transform: translateY(-0.15rem);
  box-shadow: var(--box-shadow-4);
}

.btn:active {
  transform: translateY(0);
}

/******************************/
/*************MAIN*************/
.main {
  background-color: var(--color-main-bg);
  grid-area: main;
  padding: 2.4rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 2.4rem;
}

.projects-title {
  margin-bottom: 1rem;
}

.projects-container {
  display: grid;
  gap: 2.4rem;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  
}

.projects-card {
  background-color: var(--color-card-bg);
  border-radius: var(--border-radius-card);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-4); 
  border-left: var(--border-radius-card) solid var(--color-item-select);
}

.project-name {
  margin-bottom: .8rem;
}

.project-actions {
  margin-top: auto;
  display: flex;
  justify-content: end;
  gap: 2.4rem;
}

.project-action-icon {
  height: 2.4rem;
}

/******************************/
/************ASIDE*************/

.aside {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; */
}

.announcements-title {
  margin-bottom: 1rem;
}

.announcements-card {
  background-color: var(--color-card-bg);
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow-4); 
  padding: 2.4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  
}

.announcements-item:not(:last-child) {
  padding-bottom: 2.4rem;
  border-bottom: 1px solid black;
}

.trending {
  align-self: start;
}